/* styles/main.css */

:root {
    --header-height: 10vh;
    --footer-height: 20vh;

    --container-bg: rgba(239, 232, 215, 0.4);
    --container-bg-hover: rgba(239, 232, 215, 0.7);
    --container-border-color: transparent;
    --container-shadow: 0 0 10px rgba(0,0,0,0.1);
    --container-radius: 2vh;

    --container-margin: 2vh;
    --container-padding: 2vh;
    --container-margin-hover: 1.7vh;
    --container-padding-hover: 1.7vh;
}

.subcontainer1, 
.subcontainer2_1,
.subcontainer2_2 {
    margin: var(--container-margin);
    padding: var(--container-padding);
    border-radius: var(--container-radius);
    background-color: var(--container-bg);
    border: solid var(--container-border-color);
    box-shadow: var(--container-shadow);
}

.subcontainer1:hover, 
.subcontainer2_1:hover,
.subcontainer2_2:hover {
    margin: var(--container-margin-hover);
    padding: var(--container-padding-hover);
    background-color: var(--container-bg-hover);
}

@font-face {
    font-family: Futura;
    src: url('../fonts/futura_mediumt.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #66b9c9;
    margin-left: 0;
    margin-right: 0;
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
}


header {
    transform: translate(-50%, 0%);
    width: 100vw;
    top: 0%;
    left: 50%;
    position: fixed; 
    /* background-color: #f0f0f0; */
    background: repeating-linear-gradient(
        to bottom,
        #d20117 0%,
        #d20117 35%,
        #f0f0f0 35%,
        #f0f0f0 70%,
        #d20117 70%,
        #d20117 80%,
        #f0f0f0 80%,
        #f0f0f0 90%,
        #d20117 90%,
        #d20117 100%
    );
    background-size: 100% var(--header-height);;
    height: var(--header-height);
    text-align: center;
    align-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

footer {
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.logo {
    position: absolute;
    top: 70%;
    left: 0;
    transform: translate(0%, -50%);
    width: 35vh;
    height: 35vh;
    filter: drop-shadow(0 0 5spx rgba(0, 0, 0, 0.2));
}


.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    height: 80vh;
    width: 100%;
}
.container2 {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    height: 80vh;
    width: 100%;
}
.subcontainer1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
}
.subcontainer2 {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-rows: 1fr 1fr;
}
.subcontainer2_1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
}
.subcontainer2_2 {
    display: grid;
    grid-column: 1;
    grid-row: 2;

}

li {
    font-family: Futura;
    font-size: 20px;
    display: inline;
    padding: 30px;
}

header li {
    font-family: Futura;
    font-size: 20px;
    font-weight: 800;
    display: inline;
    padding: 30px;
}

li:hover{
    color:#d20117
}

#app-header li.active {
    color: #EFE8AD;
    font-weight: 300;
    -webkit-text-stroke: 3px black; /* Stroke thickness and color */
    paint-order: stroke fill;
}

div {
    font-size: 10px;

}

a {
    text-decoration: none;
    color: #000000;
}